.top_banner {
  margin-bottom: 250px;

  .top_banner_preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    .top_banner_subtitle,
    .top_banner_title {
      display: flex;
      align-items: end;
    }
  
    .top_banner_title {
      justify-content: end;
    }
  
    .banner_subtitle_h3 {
      color: var(--blue);
    }
  }
}


/* Media queries */
@media (min-width: 0px) and (max-width: 769px) {
  /* Брейк от 0 до 768 */
  .top_banner {
    margin-bottom: 100px;
  }
  .top_banner_preview {
    grid-template-columns: 1fr !important;

    .banner_subtitle_h3 {
      margin-bottom: 30px;
    }

    .top_banner_title {
      justify-content: center !important;
    }
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  /* Брейк от 768 до 1024 */
  .top_banner {
    height: 69vh;
    margin-bottom: 200px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Брейк от 1024 до 1440 */
  .top_banner {
    height: 71vh;
  }
}

@media (min-width: 1441px) {
  /* Брейк от 1440 и выше */
  .top_banner {
    height: 71vh;
  }
}
