/* Fonts */

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../all_fonts/proxima_nova/ProximaNova-Semibold.woff2') format('woff2'), url('../all_fonts/proxima_nova/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../all_fonts/proxima_nova/ProximaNova-Bold.woff2') format('woff2'), url('../all_fonts/proxima_nova/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../all_fonts/proxima_nova/ProximaNova-Regular.woff2') format('woff2'), url('../all_fonts/proxima_nova/ProximaNova-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../all_fonts/proxima_nova/ProximaNova-Light.woff2') format('woff2'), url('../all_fonts/proxima_nova/ProximaNova-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


/* Colors */
:root {
  --blue: #2F80ED;
  --white: #F5F5F5;
  --gray: #888888;
}


/* Global-styles */
html,
body {
  font-family: 'ProximaNova-Regular';
  text-transform: uppercase;
  background-color: var(--white);
}

body {
  margin: 0 auto;

  h1 {
    line-height: 0.7;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'ProximaNova-Light';
  }

  a,
  button,
  select {
    cursor: pointer;
  }

  span,
  select {
    font-family: 'ProximaNova-Semibold';
  }
}

body,
header {
  max-width: 1920px;
}


/* Media queries */
@media (min-width: 0px) and (max-width: 521px) {
  /* Брейк от 0 до 521 */

  body {
    padding: 80px 20px 0 20px;
    
    h1 {
      font-size: 58px;
    }
    
    h2 {
      font-size: 20px;
    }
    
    h3 {
      font-size: 16px;
    }
  
    h4 {
      font-size: 13px;
    }
  
    p,
    a {
      font-size: 11px;
    }
  
    span {
      font-size: 10px;
    }
  }
}

@media (min-width: 521px) and (max-width: 769px) {
  /* Брейк от 521 до 769 */

  body {
    padding: 120px 40px 0 40px;

    h1 {
      font-size: 62px;
    }
    
    h2 {
      font-size: 28px;
    }
    
    h3 {
      font-size: 27px;
    }

    h4 {
      font-size: 26px;
    }

    p,
    span,
    a {
      font-size: 12px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  /* Брейк от 769 до 1025 */

  body {
    padding: 100px 30px 0 30px;

    h1 {
      font-size: 126px;
    }
    
    h2 {
      font-size: 28px;
    }
    
    h3,
    h4 {
      font-size: 19px;
    }

    p,
    a {
      font-size: 12px;
    }

    span {
      font-size: 13px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1441px) {
  /* Брейк от 1025 до 1440 */

  body {
    padding: 100px 40px 0 40px;

    h1 {
      font-size: 163px;
    }
    
    h2 {
      font-size: 40px;
      line-height: 36px;
    }
    
    h3,
    h4 {
      font-size: 30px;
      line-height: 36px;
    }
  
    p {
      font-size: 16px;
    }
  
    span {
      font-size: 14px;
    }
  
    a {
      font-size: 13px;
    }
  }
}

@media (min-width: 1441px) {
  /* Брейк от 1441 и выше */
    
  body {
    padding: 130px 80px 0 80px;
    
    h1 {
      font-size: 194px;
    }
    
    h2 {
      font-size: 36px;
      line-height: 48px;
    }
    
    h3 {
      font-size: 35px;
      line-height: 43px;
    }

    h4 {
      font-size: 31px;
    }

    p {
      font-size: 22px;
      line-height: 34px;
    }

    span,
    a {
      font-size: 17px;
    }
  }
}