.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0%);
  background: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  
  .header_subpanel {
    display: flex;
    align-items: center; 
  }
}


/* Media queries */
@media (min-width: 0px) and (max-width: 521px) {
  /* Брейк от 0 до 521 */
  .header {
    padding: 19px 20px;
  }
}

@media (min-width: 521px) and (max-width: 769px) {
  /* Брейк от 521 до 769 */
  .header {
    padding: 35px 40px;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  /* Брейк от 769 до 1025 */

  .header {
    padding: 25px 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Брейк от 1025 до 1440 */

  .header {
    padding: 24px 40px;
  }
}

@media (min-width: 1441px) {
  /* Брейк от 1441 и выше */
  .header {
    padding: 40px 80px;
  }
}